.container {
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 100vw;
  max-height: 100vh;
  &__wrapp {
    position: relative;
    width: 100%;
    width: 375px;
    height: 816px;
    border: 1px solid #ccc;
    padding: 15px;
    padding-bottom: 0;
  }
  &__menu-bg {
    position: absolute;
    bottom: -4px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0.6;
    img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
app-footer {
  position: sticky;
  top: 100%;
  z-index: 10;
}
