.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100% - 460px);
  &__wrapp {
    display: flex;
    width: 100%;
    gap: 15px;
  }
  &__cards {
    position: relative;
    flex: 1;
    &_item {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      padding: 15px 15px 20px 15px;
      background-color: var(--text);
      border-radius: 15px;
      box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.33);
    }
    &_image {
      position: relative;
    }
    &_img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 15px;
    }
    &_desc {
      position: absolute;
      width: 100%;
      height: 50%;
      bottom: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.1) 1%,
        rgba(191, 141, 218, 0.95) 77%,
        rgba(242, 199, 254, 0.89) 98%,
        rgba(255, 255, 255, 0.3) 100%
      );
      padding: 10px;
      color: var(--text);
      line-height: 15px;
    }
    &_text {
      display: flex;
      justify-content: space-between;
      span {
        font-weight: 400;
      }
    }
    &_buttons {
      display: flex;
      justify-content: center;
      gap: 10px;
      margin-top: 10px;
    }
    &_btn {
      border: none;
      padding: 0;
      margin: 0;
      border-radius: 50%;
      background-color: transparent;
      cursor: pointer;
      transition: background-color 0.3s ease-out, transform 0.3s ease-out;
      &:hover {
        filter: brightness(95%);
        transform: scale(0.95);
      }
      img {
        border-radius: 50%;
        box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
          0px 3px 4px 0px rgba(0, 0, 0, 0.14),
          0px 1px 8px 0px rgba(0, 0, 0, 0.12);
        transition: box-shadow 0.3s ease-out;
        gap: 10px;
        &:hover {
          box-shadow: none;
        }
      }
    }
  }
}
